ion-app {
  background-color: var(--ion-color-primary);
}

ion-toolbar  {
  background-color: red;
}

p {
  font-family: Lato;
}

ion-title {
  text-align: center;
  color:	var(--ion-color-primary);
}

ion-button{
  color:	--ion-color-primary;
}

ion-checkbox {
  --size: 32px;
  --background-checked: #6815ec;
}


